@import "src/variables";

.header {
  position: sticky;
  top: 0;
  left: 0;

  padding: 1em 2em;
  display: flex;
  align-items: center;
  justify-content: space-between;

  transition: all 0.25s ease-in-out;

  > a {
    display: flex;
  }
}

.black {
  background-color: $color-dark-2;
}

.netflix_logo {
  height: 2em;
}

.profile_icon {
  border-radius: 3px;
  overflow: hidden;
}
