@import "src/variables";

.header {
  position: sticky;
  width: 100%;
  top: 0;
  left: 0;

  padding: 1em 2em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1;

  background-color: $color-dark-2;

  > a {
    display: flex;
  }
}

.netflix_logo {
  height: 2em;
}

.profile_icon {
  border-radius: 3px;
  overflow: hidden;
}
